apiVersion: v1
kind: Service
metadata:
  name: {{ include "pinpoint-zookeeper.fullname" . }}-hs
  labels:
    app: {{ include "pinpoint-zookeeper.fullname" . }}
spec:
  ports:
  - port: 2888
    name: server
  - port: 3888
    name: leader-election
  clusterIP: None
  selector:
    app: {{ include "pinpoint-zookeeper.fullname" . }}
